main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.login-container {
  display: flex;
  flex-direction: row;
}

.login-image {
  width: 50%;
  display: flex;
  flex-grow: 1;

  & img {
    width: 100%;
  }
}

.login-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 3rem;

  & h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
}

.login-cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  gap: 1rem;

  & button {
    width: 100%;
  }
}

.login-footer {
  margin-top: 2rem;
  background-color: #f6f7f9;
  padding: 1rem;
  width: 100%;
  text-align: center;

  & a {
    color: var(--btn-color);
  }
}
